{% extends "base.html" %}

{% block content %}
  <h1>Books</h1>

  <form method="GET" action="/">
         <input type="hidden" name="search" value="{{ search }}">
            <input type="hidden" name="page" value=1>
        <label>Sort by:</label>

        <select name="sort" onchange="this.form.submit()">
            <option value="title" {% if sort == "title" %}selected{% endif %}>
                Title
            </option>

            <option value="author" {% if sort == "author" %}selected{% endif %}>
                Author
            </option>

            <option value="year" {% if sort == "year" %}selected{% endif %}>
                Year
            </option>
        </select>

        <label>Direction:</label>

        <select name="direction" onchange="this.form.submit()">
            <option value="asc" {% if direction == "asc" %}selected{% endif %}>
                Ascending
            </option>

            <option value="desc" {% if direction == "desc" %}selected{% endif %}>
                Descending
            </option>

        </select>

        <label>Per Page:</label>
        <select name="per_page" onchange="this.form.submit()">
            {% for n in [5,10,15,20,25] %}
                <option value="{{ n }}" {% if per_page == n %}selected{% endif %}>
                    {{ n }}
                </option>
            {% endfor %}
        </select>


  </form>
    <div class="pagination">
        {% if page > 1 %}
            <a href="/?page={{ page - 1 }}&sort={{ sort }}&direction={{ direction }}&search={{ search }}">
                ⬅ Previous
            </a>
        {% endif %}

       <span>Page {{ page }} of {{ total_pages }}</span>

        {% if page < total_pages %}
            <a href="/?page={{ page + 1 }}&sort={{ sort }}&direction={{ direction }}&search={{ search }}">
                Next ➡
            </a>
        {% endif %}
    </div>

  {% for book in books %}
      <div class="book">
          <img
              src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"
              alt="Cover for {{ book.title }}"
              onerror="this.style.display='none'"
          >
        <div class="book-info">
              <h3 class="book-title">{{ book.title }}</h3>

            <div class="book-details">
                <p>Author: {{ book.author.name }}</p>
                <p>Publication Year: {{ book.publication_year }}</p>
                <p>ISBN: {{ book.isbn }}</p>
            </div>
        </div>
            <form method="POST" action="{{ url_for('delete_book', book_id=book.id) }}">
                <button type="submit" onclick="return confirm('Delete this book?')">
                    Delete Book
                </button>
            </form>
      </div>
  {% endfor %}

{% endblock %}